# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.staticeco_back.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Work\staticeco_back\.idea\.idea.staticeco_back.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
